@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 
 body{
  background: gray;
}
.card{
  width: 300px;
  height: 400px;
  background: #fff;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 0 auto;
}
.container{
  display: flex;
  align-items: center;
  margin: 25px auto;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background: #D9D9D9;
  flex-direction: column;
  gap: 50px 0;
}
.sportsmen-img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 25px;
}
.text{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-family: Lobster;
  font-size: 24px;
}